/* Keyframes for animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mainbox {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: fadeIn 2s ease-in;
  color: #f2f2f2;
  background-color: #121212; /* Dark background for the whole page */
 padding-bottom: 20px;
}

.topbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 1.3rem;
   animation: fadeIn 1.5s ease-in;
  color: #f2f2f2;
}

.infobox {
  width: 450px;
  text-align: center;
}

.infobox h1 {
  font-size: 2.5rem;
}

.infobox span {
  color: #00bcd4; /* Aqua color for highlights */
}

.bottombox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  animation: fadeIn 2s ease-in;
  flex-wrap: wrap;
}

.leftbox1, .rightbox1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

.bio, .contact, .services {
  width: 100%;
  text-align: center;
}

.bio h4, .contact h4, .services h4 {
  color: #999;
}

.midlebox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #444;
  border-radius: 20px;
  padding: 20px;
  transition: all 0.4s ease-in-out;
}

.profileimage img {
  width: 500px;
  border-radius: 50%;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.footericons {
  margin-top: 40px;
}

.footericons .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 1.5rem;
  color: #f2f2f2;
}

.footericons .icons a {
  color: #f2f2f2;
  transition: color 0.3s;
}

.footericons .icons a:hover {
  color: #00bcd4; /* Aqua color for hover effect */
}

@media (max-width: 1024px) {
  .topbox .infobox {
    width: 350px;
  }

  .profileimage img {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .mainbox {
    gap: 10px;
    height: 130vh;
  }

  .topbox {
    flex-direction: column;
    text-align: center;
  }

  .bottombox {
    flex-direction: column;
    align-items: center;
  }

  .leftbox1, .rightbox1 {
    width: 80%;
  }

  .midlebox {
    width: 80%;
    padding: 20px;
  }

  .profileimage img {
    width: 100%;
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .topbox {
    font-size: 1rem;
  }

  .topbox .infobox {
    width: 80%;
  }

  .profileimage img {
    max-width: 500px;
  }

  .bottombox {
    flex-direction: column;
    gap: 10px;
  }

  .leftbox1, .rightbox1 {
    display: block;
  }
}
