/* Container for the project cards */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}
h1{
  text-align: center;
}

/* Each project card */
.card {
  background-color: #292929;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-10px);
}

/* Image in each project card */
.card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Content inside the project card */
.card__content {
  padding: 20px;
  color: #e0e0e0;
  text-align: center;
}

.card__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #00ced1;
}

.card__description {
  font-size: 1rem;
  color: #a1a1a1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .card__image {
    height: 150px;
  }

  .card__title {
    font-size: 1.3rem;
  }

  .card__description {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .card__image {
    height: 120px;
  }

  .card__title {
    font-size: 1.2rem;
  }

  .card__description {
    font-size: 0.8rem;
  }
}
